@import '../../styles/variables.scss';

.headerIconsLeft {
    display: flex;
    z-index: 1;

    .headerIconsLeft__user {
        svg {
            display: block;
        }
    }
    svg {
        display: none;
        margin: 8px 16px;
        cursor: pointer;

        &:hover {
            path {
                fill: $text-primary--hover
            }
        }

        @media (min-width: $tablet) {
            display: block;
        }
    }

    .headerIconsLeft__basket {
        position: relative;

        .basketCounter {
            background: $text-black;
            padding: 0 5px;
            border-radius: 50%;
            font-size: 10px;
            color: $white;
            position: absolute;
            top: -7px;
            right: 0;
        }
    }
}