
$white: #fff;
$primary: #f75454;
$primary-light: #fff6f6;
$primary-hover: #f52f2f;
$gold: #ffbd00;
$indigo-light: #faf1ff;
$peach-light: #faf4eb;
$chili-light: #f4e6e5;
$blue-light: #e6f2f4;
$punch-light: #fff6f6;



$text-black: #161619;
$text-gray: #7c6e65;
$text-primary: #f75454;
$text-primary--hover: #f30b0b;
$text-primary-light: #fff6f6;
$text-indigo: #a200fc;
$text-peach: #f79400;
$text-chili: #f01000;
$text-blue: #00cdef;
$text-punch: #ff8e8e;


$tablet: '768px'

