@import '../../../styles/variables.scss';

.card {
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    border-radius: 6px;
    min-width: 300px;
    width: 300px;
    height: 180px;

    @media (min-width: $tablet) {
        padding: 32px;
        min-width: 337px;
        gap: 20px;
    }

    &:first-child, &:nth-child(5n){
        background: $indigo-light;
    }

    &:nth-child(2n), &:nth-child(7n) {
        background: $peach-light;
    }

    &:nth-child(3n){
        background: $chili-light;
    }

    &:nth-child(4n){
        background: $blue-light;
    }



    .card__info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        flex-grow: 1;

        .card__title, .card__price {
            margin-top: 0;
            font-size: 16px;
            margin-bottom: 8px;

            @media (min-width: $tablet) {
                font-size: 20px;
                margin-bottom: 12px;
            }
        }

        .card__author {
            color: $text-gray;
            font-size: 10px;
            margin-bottom: 8px;

            @media (min-width: $tablet) {
                font-size: 12px;
                margin-bottom: 12px;
            }
        }

        .card__price {
            flex-grow: 1;
            &:before {
                content: '$'
            }
        }
    }

    .card__pic {
        max-width: 120px;

        img {
            width: 100%;
        }
    }
}

